@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

.container {
  max-width: 800px;
}

.elements {
}

.cube {
  display: inline-block;
}

h1,
.description {
  text-align: center;
}

.button:hover {
  background: #333;
  color: white;
}

.elements {
}

.selecto-area {
}

#selecto1 .cube {
  transition: all ease 0.2s;
}

.selecto-area .selected {
  color: #fff;
  background: lightgreen;
}

* {
  font-family: 'Comfortaa', cursive;
}
